<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="p4_humanoid_l_arm">

    <link
        name="pelvis">
        <inertial>
        <origin
            xyz="-0.097501 -0.00071331 0.014496"
            rpy="0 0 0" />
        <mass
            value="7.3588" />
        <inertia
            ixx="0.07295321"
            ixy="5.28E-05"
            ixz="0.00061832"
            iyy="0.01891928"
            iyz="7.9E-05"
            izz="0.06144182" />
        </inertial>
        <visual>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="package://p4_humanoid_description/meshes/pelvis.STL" />
        </geometry>
        <material
            name="">
            <color
            rgba="0.75294 0.75294 0.75294 1" />
        </material>
        </visual>
        <collision>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="package://p4_humanoid_description/meshes/pelvis.STL" />
        </geometry>
        </collision>
    </link>

  <link
    name="link_ra1">
    <inertial>
      <origin
        xyz="0.0017444 0.0032911 -0.00048706"
        rpy="0 0 0" />
      <mass
        value="1.5214" />
      <inertia
        ixx="0.0020202"
        ixy="1.53E-06"
        ixz="8E-08"
        iyy="0.0020419"
        iyz="-2.22E-05"
        izz="0.0021238" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/link_ra1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/link_ra1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_ra1"
    type="revolute">
    <origin
      xyz="-0.0079 -0.19799 0.346"
      rpy="0 0 0" />
    <parent
      link="pelvis" />
    <child
      link="link_ra1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.7576"
      upper="2.7576"
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="link_ra2">
    <inertial>
      <origin
        xyz="0.00266 -0.006084 -0.044177"
        rpy="0 0 0" />
      <mass
        value="0.5934" />
      <inertia
        ixx="0.0019946"
        ixy="-1.051E-05"
        ixz="-5.194E-05"
        iyy="0.0027114"
        iyz="-0.000263"
        izz="0.0017907" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/link_ra2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/link_ra2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_ra2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_ra1" />
    <child
      link="link_ra2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-2.8798"
      upper="0.2618"
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="link_ra3">
    <inertial>
      <origin
        xyz="0.0043044 0.0005686 -0.086242"
        rpy="0 0 0" />
      <mass
        value="1.8035" />
      <inertia
        ixx="0.008233"
        ixy="-3.217E-05"
        ixz="0.00050344"
        iyy="0.0082866"
        iyz="0.00018591"
        izz="0.0017181" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/link_ra3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/link_ra3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_ra3"
    type="revolute">
    <origin
      xyz="5.871E-05 -0.015599 -0.10454"
      rpy="-0.087272 0 0" />
    <parent
      link="link_ra2" />
    <child
      link="link_ra3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.618"
      upper="2.618"
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="link_ra4">
    <inertial>
      <origin
        xyz="0.0037512 -0.00059846 -0.022713"
        rpy="0 0 0" />
      <mass
        value="0.19646" />
      <inertia
        ixx="0.00014929"
        ixy="-5.55E-06"
        ixz="-2.026E-05"
        iyy="0.0002863"
        iyz="1.87E-06"
        izz="0.00023341" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/link_ra4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/link_ra4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_ra4"
    type="revolute">
    <origin
      xyz="0.00075225 0.0049994 -0.154"
      rpy="0 1.3325E-05 -0.00086091" />
    <parent
      link="link_ra3" />
    <child
      link="link_ra4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.1745"
      upper="2.2166"
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="link_ra5">
    <inertial>
      <origin
        xyz="-8.05E-05 -0.00037564 -0.15082"
        rpy="0 0 0" />
      <mass
        value="2.0103" />
      <inertia
        ixx="0.013613"
        ixy="2.4E-07"
        ixz="1.157E-05"
        iyy="0.013825"
        iyz="-0.00019251"
        izz="0.0018716" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/link_ra5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/link_ra5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_ra5"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_ra4" />
    <child
      link="link_ra5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.9147"
      upper="2.9147"
      effort="1000"
      velocity="10" />
  </joint>
  <link
    name="link_ra6">
    <inertial>
      <origin
        xyz="0 0.010485 -1.3192E-05"
        rpy="0 0 0" />
      <mass
        value="0.0077626" />
      <inertia
        ixx="8.9E-07"
        ixy="0"
        ixz="0"
        iyy="1.4E-07"
        iyz="0"
        izz="9.3E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/link_ra6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/link_ra6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_ra6"
    type="revolute">
    <origin
      xyz="0 -0.02371 -0.29585"
      rpy="-0.045412 0 0" />
    <parent
      link="link_ra5" />
    <child
      link="link_ra6" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.9948"
      upper="0.9948"
      effort="1000"
      velocity="10" />
  </joint>
  

  <joint
    name="joint_ra7"
    type="revolute" dont_collapse="true">
    <origin
      xyz="0 0.05 -0.05"
      rpy="0.54 3.141592 3.141592" />
    <parent
      link="link_ra6" />
    <child
      link="grip_base_link_r" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4538"
      upper="0.4538"
      effort="60"
      velocity="3" />
            <dynamics damping="1.0e-6" friction="2.0e-1"/>
  </joint>


<link
    name="grip_base_link_r">
    <inertial>
      <origin
        xyz="1.1069E-08 -0.007103 -0.020658"
        rpy="0 0 0" />
      <mass
        value="0.059729" />
      <inertia
        ixx="6.4028E-05"
        ixy="1.282E-11"
        ixz="-1.0166E-11"
        iyy="1.8469E-05"
        iyz="1.2373E-05"
        izz="6.4362E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/grip_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.32" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://p5_humanoid_description/meshes/grip_base_link.STL" />
      </geometry>
    </collision> -->
  </link>
  </robot>